.test {
  grid-area: test;
  display: grid;
  grid-template: minmax(auto, 70px) 1fr/minmax(auto, 500px) minmax(auto, 800px);
  grid-template-areas: "title title" "form dogs";
  gap: 25px;
}
@media screen and (max-width: 1200px) {
  .test {
    grid-template: minmax(auto, 70px) 1fr/minmax(auto, 300px) minmax(auto, 800px);
    grid-template-areas: "title title" "form dogs";
  }
}
@media screen and (max-width: 1000px) {
  .test {
    grid-template: minmax(auto, 70px) 1fr/minmax(auto, 180px) minmax(auto, 800px);
    grid-template-areas: "title title" "form dogs";
  }
}
@media screen and (max-width: 800px) {
  .test {
    grid-template: minmax(auto, 70px) 1fr 1fr/minmax(auto, 250px);
    grid-template-areas: "title" "form" "dogs";
  }
}
@media screen and (max-width: 800px) {
  .test {
    grid-template: minmax(auto, 70px) minmax(auto, 250px) 1fr/1fr;
    grid-template-areas: "title" "form" "dogs";
  }
}
@media screen and (max-width: 400px) {
  .test {
    justify-self: start;
  }
}
.test__title {
  grid-area: title;
  color: #ffa260;
  font-size: 36px;
  font-family: "Josefin Slab";
  letter-spacing: 2px;
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 600px) {
  .test__title {
    font-size: 28px;
  }
}
.test__form {
  grid-area: form;
  display: grid;
  grid-template: repeat(2, minmax(auto, 100px))/repeat(2, 1fr);
  grid-template-areas: "name btn" "date btn";
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (max-width: 1200px) {
  .test__form {
    grid-template: repeat(3, minmax(auto, 100px))/1fr;
    grid-template-areas: "name" "date" "btn";
  }
}
@media screen and (max-width: 800px) {
  .test__form {
    grid-template: repeat(3, minmax(auto, 70px))/minmax(auto, 250px);
    grid-template-areas: "name" "date" "btn";
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 10px;
    justify-self: center;
  }
}
.test__name {
  grid-area: name;
}
.test__date {
  grid-area: date;
}
.test__button {
  grid-area: btn;
  font-family: "Poiret One", sans-serif;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 400px;
  background: none;
  border: 2px solid;
  border-radius: 35px;
  text-align: center;
  height: 70px;
  align-self: center;
  cursor: pointer;
}
.test__button:hover {
  border-color: #94e458;
  color: #fff;
  box-shadow: 0 0.5em 0.5em -0.4em #94e458;
  transform: translateY(-0.25em);
}
@media screen and (max-width: 800px) {
  .test__button {
    height: 36px;
  }
}
.test__container {
  display: grid;
  grid-template: repeat(2, 1fr)/1fr;
  gap: 15px;
}
.test__form-label {
  font-family: "Poiret One", sans-serif;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: end;
}
.test__input {
  font-family: "Poiret One", sans-serif;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 400px;
  background: none;
  border: 2px solid;
  border-radius: 10px;
  height: 30px;
  letter-spacing: 2px;
}
.test__dog-container {
  grid-area: dogs;
  display: grid;
  grid-template: minmax(auto, 70px) minmax(auto, 330px)/minmax(auto, 300px) minmax(auto, 600px);
  grid-template-areas: "img dogname" "img description";
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .test__dog-container {
    grid-template: minmax(auto, 40px) minmax(auto, 330px)/minmax(auto, 300px) minmax(auto, 600px);
    grid-template-areas: "img dogname" "img description";
    gap: 15px;
  }
}
@media screen and (max-width: 800px) {
  .test__dog-container {
    grid-template: minmax(auto, 330px)/minmax(auto, 300px);
    grid-template-areas: "img" "dogname" "description";
    gap: 15px;
    justify-self: center;
  }
}
.test__dog-name {
  grid-area: dogname;
  font-family: "Poiret One", sans-serif;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .test__dog-name {
    margin-bottom: 5px;
  }
}
.test__dog-description {
  grid-area: description;
  font-family: "Poiret One", sans-serif;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1200px) {
  .test__dog-description {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .test__dog-description {
    font-size: 16px;
  }
}
.test__dog-img {
  grid-area: img;
  width: 100%;
  -o-object-position: 10% 0;
     object-position: 10% 0;
  border-radius: 65px;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: -2px 6px 19px 0 #7f818e;
}/*# sourceMappingURL=Test.css.map */