.searchdog {
  grid-area: search;
  display: grid;
  grid-template: minmax(auto, 70px) 1fr / minmax(auto, 600px) minmax(
      auto,
      500px
    );
  column-gap: 50px;
  grid-template-areas:
    "title title"
    "doginfo input";
  @media screen and (max-width: 900px) {
    grid-template:
      minmax(auto, 70px) minmax(200px, auto) minmax(200px, auto)
      / 1fr;
    column-gap: 0;
    grid-template-areas:
      "title"
      "input"
      "doginfo";
  }

  &__title {
    color: #ffa260;
    font-size: 36px;
    font-family: "Josefin Slab";
    letter-spacing: 2px;
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
    grid-area: title;
    margin-bottom: 70px;
  }
}
