.content {
  grid-area: content;
  display: grid;
  grid-template: minmax(auto, 70px) 1fr / 1fr;
  width: 100%;

  &__items {
    padding: 15px;
    gap: 25px;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "firstDog firstDog"
      "secondDog secondDog"
      "thirdDog thirdDog";
    @media screen and (max-width: 700px) {
      grid-template: repeat(3, 1fr) / 1fr;
      grid-template-areas:
        "firstDog"
        "secondDog"
        "thirdDog";
    }
    @media screen and (max-width: 876px) {
      padding: 0;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    display: grid;
    grid-template: 1fr / minmax(auto, 600px) minmax(auto, 400px);
    justify-items: center;
    gap: 75px;
    @media screen and (max-width: 700px) {
      gap: 20px;
      grid-template: minmax(600px, 1fr) minmax(auto, 400px) / 1fr;
    }
    @media screen and (max-width: 550px) {
      gap: 10px;
      grid-template: 320px fit-content(350px) / 320px;
      justify-content: center;
    }
    &:nth-child(1) {
      grid-area: firstDog;
    }
    &:nth-child(2) {
      grid-area: secondDog;
      direction: rtl;
      @media screen and (max-width: 550px) {
        direction: ltr;
      }
    }
    &:nth-child(3) {
      grid-area: thirdDog;
    }
  }
  &__img {
    border-radius: 65px;
    width: 100%;
    object-fit: contain;
    object-position: 10% 0;
    box-shadow: -2px 6px 19px 0 #7f818e;
    transition: 1s ease;
    @media screen and (max-width: 450px) {
      justify-self: center;
    }
    &:nth-child(1) {
      justify-self: start;
      @media screen and (max-width: 450px) {
        justify-self: center;
      }
    }
    &:nth-child(2) {
      grid-area: end;
      @media screen and (max-width: 450px) {
        justify-self: center;
      }
    }
    &:nth-child(3) {
      grid-area: start;
      @media screen and (max-width: 450px) {
        justify-self: center;
      }
    }
  }
  &__title {
    color: #ffa260;
    font-size: 36px;
    font-family: "Poiret One", sans-serif;
    letter-spacing: 2px;
    justify-self: center;
    align-self: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-wrap: break-word;
  }
  &__card-name {
    font-family: "Poiret One", sans-serif;
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__description {
    font-family: "Poiret One", sans-serif;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media screen and (max-width: 500px) {
      font-size: 20px;
    }
  }
}
